.card {
    display: inline-block;
    width: 300px;
    height: 200px;
    border-radius: 8px;
    background-color: #cf0b0baf;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
    margin-right: 10px; /* Ajusta la separación horizontal entre los componentes */
    margin-top: 10px;
  }
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(182, 182, 182, 0.596);
  }

  
h2 {
    margin-bottom: 4px;
    font-size: 35px;
    font-weight: bold;
    text-align: right;
    padding: 0px 15px 0px;
  }