.card {
  display: inline-block;
  width: 400px;
  height: 300px;
  border-radius: 8px;
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/071/470/non_2x/abstract-orange-and-yellow-gradient-stripes-motion-blur-on-black-background-texture-vector.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
  margin-right: 15px; 
  margin-top: 30px;
  max-height: 500px;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(182, 182, 182, 0.596);
}

.artistImageContainer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.artistImage {
  width: 150px;
  height: 150px;
  padding: 20px 0px;
  border-radius: 50%;
  object-fit: cover;
}

.artistInfo {
  padding: 12px;
}

h2 {
  margin-bottom: 4px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  padding: 0px 15px 0px;
  color: #09ff00;
}

.category {
  font-size: 14px;
  color: #f3f3f3;
  text-align: center;
  margin-left: 0;
  padding: 0px 15px;
}

.heartIconRed {
  color: red;
}

.heartIconBlack {
  color: black;
}

.enlargedCard {
  width: 250px; 
  height: 470px; 
}

.favoriteButton {
  margin-left: 180px;
  margin-top: 8px;
  padding: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.playButton {
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #0af031;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.playIcon {
  font-size: 20px;
  color: #000;
}

.pauseIcon {
  font-size: 12px;
  color: #000;
}

.link{
  color: #000;
}

.cp{
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}

