ul {
    display: flex; 
    align-items: center;
    list-style: none;
   
}
li {
    display: inline;
    margin-right: 75px;
    color: chartreuse;
}
.link-t{
    color: chartreuse;
}
.logo {
    display: inline;
    width: 200px; 
    height: auto; 
    margin-right: 500px;
    border-radius: 30px;
  }

  .nav-d{
    background-color: #333333a2;
    padding: 0px;
    font-family: Arial, sans-serif;
    border-radius: 30px;
  }